<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="generator" content="Website XSL Stylesheet Vsnapshot"><link rel="home" href="../../index.html" title="XSL History"><link rel="up" href="../../xsl/rev2/rev2.html" title="XSLT version 2."><link rel="previous" href="../../xsl/rev2/output2.html" title="Output, and associated issues"><link rel="next" href="../../xsl/sect2/schema.html" title="XML Schema"><link rel="first" href="../../xsl/rev2/intro2.html" title="Introduction"><link rel="last" href="../../xsl/rev2/xpath2.html" title="XPATH in XSLT 2.0"><link rel="stylesheet" href="/styles/css/xslfaq.css" type="text/css">
 <title>Regex and text handling</title>

  <meta name="keyword" content=" faq FAQ XSLT2 regex"><meta name="keywords" content=" faq FAQ XSLT2 regex">
<link href="https://fonts.googleapis.com/css?family=Dosis|Overlock&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"><link href="https://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans" rel="stylesheet" type="text/css"></head><body class="website"><div class="webpage"><a name="regex2"></a><div class="navhead"><a href="../../index.html"><img border="0" src="../../graphics/pig.gif" alt="Banner"></a> | <a href="../../xsl/index.html">XSL Frequently Asked Questions</a><br>... | <a href="../../xsl/sect3/index.html">XSL, XSL-FO FAQ</a> | <a href="../../xsl/sect4/index.html">Questions about XSLT and other software </a> | <a href="../../xsl/sect5/index.html">Extension Issues</a> | <a href="../../xsl/rev2/rev2.html">XSLT version 2.</a><br>... | <a href="../../xsl/rev2/matching.html">Select questions</a> | <a href="../../xsl/rev2/namespace2.html">Namespaces</a> | <a href="../../xsl/rev2/output2.html">Output, and associated issues</a> | Regex and text handling@ | <a href="../../xsl/rev2/schema.html">Schema questions</a> | <a href="../../xsl/rev2/sequences.html">Sequences</a> | ...<br><hr></div><h1>Regex and text handling</h1><div class="qandaset"><a name="d104386e11"></a><dl><dt>1. <a href="#d104386e13">What's a regex :-)</a></dt><dt>2. <a href="#d104386e32">Pretty printing comments with long line length</a></dt><dt>3. <a href="#d104386e57">Searching for url in text</a></dt><dt>4. <a href="#d104386e79">Reverse a string (xslt 2)</a></dt><dt>5. <a href="#d104386e99">Counting characters </a></dt><dt>6. <a href="#d104386e133">Acronym handling</a></dt><dt>7. <a href="#d104386e153">Converting a text File to XML</a></dt><dt>8. <a href="#d104386e188">Conditional selection of an attribute value</a></dt><dt>9. <a href="#d104386e208">{{ braces in regular expressions</a></dt><dt>10. <a href="#d104386e248">Remove non numeric content</a></dt><dt>11. <a href="#d104386e273">Value and units</a></dt><dt>12. <a href="#d104386e294">XPath 2.0 Regex misunderstanding</a></dt><dt>13. <a href="#d104386e355">Regex </a></dt></dl><table border="0" style="width: 100%;"><colgroup><col align="left" width="1%"><col></colgroup><tbody>
      <tr class="question"><td align="left" valign="top"><a name="d104386e13"></a><a name="d104386e15"></a><p><b>1.</b></p></td><td align="left" valign="top"><p>What's a regex :-)</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>DaveP</p><p>Since its not so long ago since I
	barely knew what it was, I've done an idiots guide to regex in
	XSLT 2.0. Usual format, <a class="ulink" href="regexExampler.html" target="_top">linked
	from here</a>, written as a stylesheet creating the html
	you see. Similarly misspelled too.</p></td></tr>

    
      <tr class="question"><td align="left" valign="top"><a name="d104386e32"></a><a name="d104386e34"></a><p><b>2.</b></p></td><td align="left" valign="top"><p>Pretty printing comments with long line length</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Jeni Tennison</p><div class="literallayout"><p><br>
<br>
&gt;&gt;&nbsp;In&nbsp;particular,&nbsp;my&nbsp;XML&nbsp;has&nbsp;lots&nbsp;of&nbsp;very&nbsp;long&nbsp;comment&nbsp;lines,&nbsp;which&nbsp;I<br>
&gt;&gt;&gt;&nbsp;would&nbsp;like&nbsp;to&nbsp;be&nbsp;wrapped&nbsp;to&nbsp;a&nbsp;sensible&nbsp;line&nbsp;length,&nbsp;and&nbsp;indented<br>
&gt;&gt;&gt;&nbsp;with&nbsp;a&nbsp;hanging&nbsp;indent&nbsp;like&nbsp;this:<br>
&gt;&gt;&gt;<br>
&gt;&gt;&gt;&nbsp;&nbsp;&nbsp;&lt;!--&nbsp;blah&nbsp;blah<br>
&gt;&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;blah&nbsp;blah<br>
&gt;&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;blah&nbsp;blah&nbsp;--&gt;<br>
</p></div><p>For what it's worth, XSLT 2.0 makes this a whole lot easier with its
regular expression support. For example, you could use:</p><pre class="programlisting">
&lt;xsl:template match="comment()"&gt;
  &lt;xsl:text&gt;&amp;lt;!-- &lt;/xsl:text&gt;
  &lt;xsl:analyze-string select="normalize-space(.)"
                      regex=".{{1,69}}(\s|$)"&gt;
    &lt;xsl:matching-substring&gt;
      &lt;xsl:if test="position() 
	  != 1"&gt;&lt;xsl:text&gt;     &lt;/xsl:text&gt;&lt;/xsl:if&gt;
      &lt;xsl:value-of select="." /&gt;
      &lt;xsl:text&gt;&amp;#xA;&lt;/xsl:text&gt;
    &lt;/xsl:matching-substring&gt;
  &lt;/xsl:analyze-string&gt;
  &lt;xsl:text&gt;     --&gt;&lt;/xsl:text&gt;
&lt;/xsl:template&gt;
</pre><p>[Note the doubling of the {}s in the regex attribute because it's an
attribute value template; that's caught me out twice today!]</p><p>You could use something more subtle than normalize-space() to preserve
*some* of the spacing within the comment but not others.</p></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e57"></a><a name="d104386e59"></a><p><b>3.</b></p></td><td align="left" valign="top"><p>Searching for url in text</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Jeni Tennison</p><div class="literallayout"><p><br>
<br>
&gt;Is&nbsp;it&nbsp;possible&nbsp;to&nbsp;write&nbsp;some&nbsp;XSL&nbsp;code&nbsp;which&nbsp;will&nbsp;search&nbsp;some&nbsp;text()<br>
&gt;for&nbsp;a&nbsp;URL&nbsp;pattern&nbsp;and&nbsp;replace&nbsp;it&nbsp;with&nbsp;a&nbsp;hyperlinked&nbsp;version&nbsp;of<br>
&gt;itself.<br>
</p></div><p>
 XSLT 2.0 makes this process a lot easier: you can use
 &lt;xsl:analyze-string&gt; with regular expressions to do this kind of
 string processing. In XSLT 2.0, the template would look more like:</p><pre class="programlisting">
 &lt;xsl:template name="hyperlink"&gt;
   &lt;xsl:param name="string" select="string(.)" /&gt;
   &lt;xsl:analyze-string select="$string"
                       regex="http://[^ ]+"&gt;
     &lt;xsl:matching-substring&gt;
       &lt;a href="{.}"&gt;
         &lt;xsl:value-of select="." /&gt;
       &lt;/a&gt;
     &lt;/xsl:matching-substring&gt;
     &lt;xsl:non-matching-substring&gt;
       &lt;xsl:value-of select="." /&gt;
     &lt;/xsl:non-matching-substring&gt;
   &lt;/xsl:analyze-string&gt;
 &lt;/xsl:template&gt;
</pre><p> and of course the regex for matching URLs could be a lot more
 sophisticated.</p></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e79"></a><a name="d104386e81"></a><p><b>4.</b></p></td><td align="left" valign="top"><p>Reverse a string (xslt 2)</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Mike Kay</p><div class="literallayout"><p><br>
&gt;&nbsp;&nbsp;&nbsp;I&nbsp;checked&nbsp;http://www.w3.org/TR/xpath-functions/&nbsp;and,&nbsp;in&nbsp;the&nbsp;<br>
&gt;&nbsp;list&nbsp;of&nbsp;functions&nbsp;on&nbsp;strings,&nbsp;i&nbsp;saw&nbsp;a&nbsp;number&nbsp;of&nbsp;string&nbsp;<br>
&gt;&nbsp;functions&nbsp;but&nbsp;not&nbsp;one&nbsp;to&nbsp;simply&nbsp;reverse&nbsp;a&nbsp;string,&nbsp;which&nbsp;I&nbsp;<br>
&gt;&nbsp;would&nbsp;have&nbsp;thought&nbsp;<br>
&gt;&nbsp;would&nbsp;be&nbsp;fairly&nbsp;obvious.<br>
&gt;&nbsp;<br>
It's&nbsp;easily&nbsp;done&nbsp;in&nbsp;XPath&nbsp;2.0&nbsp;as<br>
</p></div><pre class="programlisting">   string-join(
      for $i in string-length($in) to 1 return substring($in, $i, 1),
      "")
</pre><p>or using a recursive function if you find that more elegant.</p></td></tr>
    
   <tr class="question"><td align="left" valign="top"><a name="d104386e99"></a><a name="d104386e101"></a><p><b>5.</b></p></td><td align="left" valign="top"><p>Counting characters </p></td></tr>
   <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Michael Kay</p><div class="literallayout"><p><br>
&gt;&nbsp;What&nbsp;I&nbsp;want&nbsp;to&nbsp;do&nbsp;is&nbsp;to&nbsp;count&nbsp;the&nbsp;number&nbsp;of&nbsp;characters&nbsp;in&nbsp;a&nbsp;&nbsp;<br>
&gt;&nbsp;text&nbsp;node&nbsp;and&nbsp;all&nbsp;previous&nbsp;text&nbsp;nodes&nbsp;children&nbsp;of&nbsp;the&nbsp;current&nbsp;<br>
&gt;&nbsp;text&nbsp;node's&nbsp;parent.<br>
	</p></div><p>
Well the XPath 2.0 solution is</p><pre class="programlisting">sum(for $i in preceding-sibling::text() return string-length($i))</pre><p>
For XSLT 1.0 it's much more difficult, it's the classic problem of
summing a calculated value over a node-set. There are several workable
solutions:</p><table border="0" summary="Simple list" class="simplelist"><tr><td>- Construct a result tree fragment containing the computed values, then
use the sum() and xx:node-set() functions to do the summation.</td></tr><tr><td>- Use a recursive template</td></tr><tr><td>- Use Dimitre's FXSL library.</td></tr></table></td></tr>
  
      <tr class="question"><td align="left" valign="top"><a name="d104386e133"></a><a name="d104386e135"></a><p><b>6.</b></p></td><td align="left" valign="top"><p>Acronym handling</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Jeni Tennison</p><div class="literallayout"><p><br>
<br>
	</p></div><p> I'll just mention that in XSLT 2.0, you can use
&lt;xsl:analyze-string&gt; to do this. Something along the lines of:</p><pre class="programlisting">
  &lt;xsl:variable name="acronyms" as="element(acronym)+"
    select="document('../xml/acronyms.xml')/acronyms/acronym" /&gt;

  &lt;xsl:variable name="acronym-regex" as="xs:string"
    select="string-join($acronyms/@acronym, '|')" /&gt;

  &lt;xsl:analyze-string select="$text" regex="{$acronym-regex}"&gt;
    &lt;xsl:matching-substring&gt;
      &lt;xsl:variable name="acronym" as="xs:string" select="." /&gt;
      &lt;acronym title="{$acronyms[@acronym = $acronym]}"&gt;
        &lt;xsl:value-of select="$acronym" /&gt;
      &lt;/acronym&gt;
    &lt;/xsl:matching-substring&gt;
    &lt;xsl:non-matching-substring&gt;
      &lt;xsl:value-of select="." /&gt;
    &lt;/xsl:non-matching-substring&gt;
  &lt;/xsl:analyze-string&gt;</pre></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e153"></a><a name="d104386e155"></a><p><b>7.</b></p></td><td align="left" valign="top"><p>Converting a text File to XML</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Michael Kay</p><p>   This kind of thing is very much easier using XSLT 2.0</p><p>    
    * use the unparsed-text() function to read the text file</p><p>    
    * split it into individual lines using the tokenize() function</p><p>    
    * Analyse/parse each line using xsl:analyze-string with a regex</p><p>    
    * arrange it into a hierarchical structure using xsl:for-each-group</p><p>As you see, each stage benefits from new features in XSLT
2.0. All of them can be done using 1.0 (for example, step (a) can be
replaced by passing the text as a string-valued parameter) but it's
much harder work: sufficiently hard work that it's probably easier to
use a different language, such as Perl.</p><p>
input file</p><pre class="programlisting">H-A-HEADER some content
I-AN-ITEM-1 more content
I-AN-ITEM-2  and again
S-A-SUMMARY-1 for variety
I-AN-ITEM-3  and change
S-A-SUMMARY-2 and different again</pre><p>
DaveP generated this Stylesheet to show the example.</p><pre class="programlisting">&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                version="2.0"&gt;

  &lt;xsl:output method="xml" indent="yes" encoding="utf-8"/&gt;

  &lt;xsl:template match="/"&gt;
    &lt;xsl:variable name="f" 
select="unparsed-text('unparsedEntity.txt','utf-8')"/&gt;


    &lt;someRoot&gt;
      &lt;xsl:for-each select='tokenize($f, "\n")'&gt;
    &lt;record&gt; 
      &lt;xsl:analyze-string  regex="[\-a-zA-Z0-9]+" select="."&gt;
    &lt;xsl:matching-substring&gt;
      &lt;word&gt;&lt;xsl:value-of select="."/&gt;&lt;/word&gt;
    &lt;/xsl:matching-substring&gt;
    &lt;xsl:non-matching-substring&gt;
      &lt;other&gt;
        &lt;xsl:value-of select="."/&gt;
      &lt;/other&gt;
    &lt;/xsl:non-matching-substring&gt;
  &lt;/xsl:analyze-string&gt;
    &lt;/record&gt;
  &lt;/xsl:for-each&gt;
&lt;/someRoot&gt;
  &lt;/xsl:template&gt;
&lt;/xsl:stylesheet&gt;
</pre></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e188"></a><a name="d104386e190"></a><p><b>8.</b></p></td><td align="left" valign="top"><p>Conditional selection of an attribute value</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Michael Kay</p><div class="literallayout"><p><br>
<br>
&gt;&nbsp;choose&nbsp;a&nbsp;link&nbsp;for&nbsp;the&nbsp;title,&nbsp;base&nbsp;on&nbsp;the&nbsp;following&nbsp;conditions:<br>
&gt;&nbsp;&nbsp;&nbsp;1.&nbsp;if&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;link&nbsp;node&nbsp;has&nbsp;'http://'&nbsp;string<br>
&gt;&nbsp;&nbsp;&nbsp;2.&nbsp;if&nbsp;there's&nbsp;no&nbsp;'http://'&nbsp;string&nbsp;get&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;link&nbsp;node&nbsp;<br>
&gt;&nbsp;that&nbsp;contains&nbsp;'ftp://'&nbsp;string<br>
&gt;&nbsp;<br>
&gt;&nbsp;output&nbsp;should&nbsp;be:&nbsp;&lt;a&nbsp;href="selected&nbsp;link"&gt;title&lt;/a&gt;<br>
&gt;&nbsp;&lt;?xml&nbsp;version="1.0"&nbsp;encoding="ISO-8859-1"&nbsp;standalone="yes"?&gt;&nbsp;&lt;record&gt;&nbsp;&nbsp;<br>
&gt;&nbsp;&lt;data&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;http://www.link1.com&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;3csbv&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;ftp://link2.com&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;http://www.link3.com&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;title&gt;title&lt;/title&gt;<br>
&gt;&nbsp;&nbsp;&lt;/data&gt;<br>
&gt;&nbsp;&nbsp;&lt;data&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;45csgh&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;invalid&nbsp;link&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;link&gt;ftp://link1.com&lt;/link&gt;<br>
&gt;&nbsp;&nbsp;&nbsp;&lt;title&gt;title&lt;/title&gt;<br>
&gt;&nbsp;&nbsp;&lt;/data&gt;<br>
&gt;&nbsp;&lt;/record&gt;<br>
&gt;<br>
</p></div><pre class="programlisting">&lt;xsl:template match="data"&gt;
&lt;a href="{(link[matches(.,'^http://')],link[matches(.,'^ftp://')])[1]}"&gt;
&lt;xsl:value-of select="title"/&gt;
&lt;/a&gt;
&lt;/xsl:template&gt;</pre><p>
Ednote. Note the use of braces inside the AVT;
and the use of the matches function in the predicate.</p></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e208"></a><a name="d104386e210"></a><p><b>9.</b></p></td><td align="left" valign="top"><p>{{ braces in regular expressions</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Michael Kay</p><p>I quote Michael Kays reply here verbatim.
Unless you have run into this problem, you may not appreciate it.
Bottom line, be aware that quantifiers, such as {3}, to say that the match
must be limited to 3 of the previous patterns, use the brace character,
which has other interpretations in XSLT. It may cause you problems as it did me.</p><p>

Ignoring the AVT rules, the regex syntax allows { to be used without
escaping inside [], but not outside: outside [] it is reserved for use in
regex quantifiers such as x{3}. So it must be escaped as \{. So the regular
expression you want is</p><pre class="programlisting">
(\w|\{[^{}]*\})+</pre><p>
which is written in the regex attribute as</p><pre class="programlisting">
regex="(\w|\{{[^{{}}]*\}})+"</pre><p>
It might be less painful to do:</p><pre class="programlisting">
&lt;xsl:variable name="regex"&gt;(\w|\{[^{}]*\})+&lt;/xsl:variable&gt;
&lt;xsl:analyze-string regex="{$regex}"&gt;</pre><p>
though sadly, I suspect that will prevent Saxon precompiling the regular
expression :-(</p><p>
A repetition count in a regex is indicated by curly braces, not square
brackets. Remember also that in an attribute value template, curly braces
must be doubled. So you want:</p><pre class="programlisting">
regex='(\d{{4}})(\d{{2}})(\d{{2}})'</pre><p>
Alternatively, you could just as well use</p><pre class="programlisting">
regex='(....)(..)(..)'</pre></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e248"></a><a name="d104386e250"></a><p><b>10.</b></p></td><td align="left" valign="top"><p>Remove non numeric content</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Mike Kay</p><div class="literallayout"><p><br>
&gt;&nbsp;I&nbsp;need&nbsp;to&nbsp;strip&nbsp;out&nbsp;non-numerical&nbsp;values&nbsp;from&nbsp;a&nbsp;string.<br>
&gt;&nbsp;Here&nbsp;is&nbsp;a&nbsp;sample&nbsp;input&nbsp;value:&nbsp;&nbsp;TUV0062<br>
&gt;&nbsp;And&nbsp;what&nbsp;I&nbsp;want&nbsp;is&nbsp;:&nbsp;&nbsp;0062&nbsp;&nbsp;(or&nbsp;just&nbsp;62)<br>
&gt;&nbsp;What&nbsp;is&nbsp;the&nbsp;correct&nbsp;way&nbsp;to&nbsp;do&nbsp;this&nbsp;using&nbsp;XSLT&nbsp;2?<br>
</p></div><p> neff.xsl</p><pre class="programlisting">
&lt;?xml version="1.0" encoding="iso-8859-1"?&gt; &lt;xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                 version="1.0"&gt;

&lt;xsl:output method="text"/&gt;

&lt;xsl:template match="/"&gt;
    &lt;xsl:variable name="in" select="'TUV0062'"/&gt;
  &lt;xsl:value-of select="replace($in,'[^0-9]','')"/&gt;
  
&lt;/xsl:template&gt;

&lt;/xsl:stylesheet&gt;
</pre><p>provides output of </p><pre class="programlisting">
62</pre></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e273"></a><a name="d104386e275"></a><p><b>11.</b></p></td><td align="left" valign="top"><p>Value and units</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Mike Kay</p><div class="literallayout"><p><br>
<br>
&gt;&nbsp;I&nbsp;have&nbsp;a&nbsp;variable&nbsp;with&nbsp;a&nbsp;string&nbsp;value&nbsp;like&nbsp;"3.48in"&nbsp;or&nbsp;"1pt"&nbsp;<br>
&gt;&nbsp;or&nbsp;"4"&nbsp;or&nbsp;<br>
&gt;&nbsp;"#123456"&nbsp;etc.&nbsp;Of&nbsp;the&nbsp;values&nbsp;that&nbsp;contain&nbsp;units,&nbsp;the&nbsp;first&nbsp;2&nbsp;of&nbsp;this&nbsp;<br>
&gt;&nbsp;particular&nbsp;list,&nbsp;I&nbsp;want&nbsp;to&nbsp;separate&nbsp;out&nbsp;the&nbsp;value&nbsp;from&nbsp;the&nbsp;<br>
&gt;&nbsp;units.&nbsp;I&nbsp;can&nbsp;<br>
&gt;&nbsp;include&nbsp;a&nbsp;list&nbsp;of&nbsp;possible&nbsp;unit&nbsp;values,&nbsp;say&nbsp;("in",&nbsp;"cm",&nbsp;"pt",&nbsp;"em",&nbsp;<br>
&gt;&nbsp;"px")&nbsp;or&nbsp;whatever.<br>
</p></div><pre class="programlisting">
&lt;xsl:analyze-string select="$in" regex="^(\d*(\.\d*)(in|cm|pt|em|px)$"&gt;
 &lt;xsl:matching-substring&gt;
  &lt;measure&gt;&lt;xsl:value-of select="regex-group(1)"/&gt;&lt;/measure&gt;
  &lt;units&gt;&lt;xsl:value-of select="regex-group(3)"/&gt;&lt;/units&gt;
 &lt;/xsl:matching-substring&gt;
 &lt;xsl:non-matching-substring&gt;
  &lt;value&gt;&lt;xsl:value-of select="."/&gt;&lt;/value&gt;
 &lt;/xsl:non-matching-substring&gt;
&lt;/xsl:analyze-string&gt;</pre><p>DaveP. Note that the first group (in brackets) matches the
      value, the second matches the decimal part of the value, and the
third matching group holds the units which are known about.
</p></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e294"></a><a name="d104386e296"></a><p><b>12.</b></p></td><td align="left" valign="top"><p>XPath 2.0 Regex misunderstanding</p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Abel Braaksma</p><div class="literallayout"><p><br>
&gt;&nbsp;I&nbsp;have&nbsp;a&nbsp;date&nbsp;element:<br>
&gt;<br>
&gt;&nbsp;example<br>
&gt;<br>
&gt;&nbsp;&lt;DATE&gt;11/01/2006&lt;/DATE&gt;<br>
&gt;<br>
&gt;&nbsp;I'm&nbsp;trying&nbsp;to&nbsp;write&nbsp;an&nbsp;XPath&nbsp;2.0&nbsp;Regex&nbsp;to&nbsp;winnow&nbsp;some&nbsp;of&nbsp;the&nbsp;more&nbsp;obvious&nbsp;<br>
&gt;&nbsp;date&nbsp;format&nbsp;errors.&nbsp;I&nbsp;have&nbsp;tried&nbsp;for&nbsp;about&nbsp;a&nbsp;half-hour,&nbsp;and&nbsp;I&nbsp;admit&nbsp;to&nbsp;being&nbsp;stumped.<br>
</p></div><p>I have some trouble with understanding your "passing" and "failing" is
about. However, if you are trying to remove the "more obvious date
format errors", I believe your "matches(...)" needs to become a
"not(matches(...))", since your regular expression is about inclusion,
not exclusion.</p><p>That said, you can try the following (assuming American dates:
MM/DD/YYYY) for matching any date, disallowing years &gt; 2006 and allowing
the format 1/2/2006:</p><pre class="programlisting">
&lt;xsl:variable name="dates"&gt;
   &lt;DATE&gt;07/18/2006&lt;/DATE&gt;
   &lt;DATE&gt;07/12/2006&lt;/DATE&gt;
   &lt;DATE&gt;09/25/2006&lt;/DATE&gt;
   &lt;DATE&gt;10/24/2006&lt;/DATE&gt;
   &lt;DATE&gt;10/18/2006&lt;/DATE&gt;
   &lt;DATE&gt;10/10/2006&lt;/DATE&gt;
   &lt;DATE&gt;1/2/2006&lt;/DATE&gt;

   &lt;!-- false dates --&gt;
   &lt;DATE&gt;22/12/2006&lt;/DATE&gt;
   &lt;DATE&gt;00/10/2000&lt;/DATE&gt;
   &lt;DATE&gt;01/32/2006&lt;/DATE&gt;
   &lt;DATE&gt;10/10/2007&lt;/DATE&gt;
   &lt;DATE&gt;12/12/20006&lt;/DATE&gt;
&lt;/xsl:variable&gt;

&lt;xsl:variable name="date-regex"&gt;^(
   0?[1-9]|     &lt;!-- 01-09 and 1-9 --&gt;
   1[0-2]       &lt;!-- 10, 11, 12 --&gt;
   )/(
   0?[1-9]|     &lt;!-- 01-09 and 1-9--&gt;
   [1-2]\d|     &lt;!-- 10-20 --&gt;
   3[01]        &lt;!-- 30, 31 --&gt;
   )/(
   1\d{3}|      &lt;!-- 1000-1999 --&gt;
   200[0-6]     &lt;!-- 2000-2006 --&gt;
   )$
&lt;/xsl:variable&gt;

&lt;xsl:for-each select="$dates/DATE"&gt;
   &lt;xsl:value-of select="concat(., ': ')" /&gt;

   &lt;!-- add normalize-space, because of a bug
       in saxon prior to 8.0.0.4 with leading space --&gt;
   &lt;xsl:value-of select="matches(.,
       normalize-space($date-regex), 'x')" /&gt;

   &lt;xsl:text&gt;&amp;#xA;&lt;/xsl:text&gt;
&lt;/xsl:for-each&gt;

</pre><p>This outputs:</p><pre class="programlisting">
07/18/2006: true
07/12/2006: true
09/25/2006: true
10/24/2006: true
10/18/2006: true
10/10/2006: true
1/2/2006: true
22/12/2006: false
00/10/2000: false
01/32/2006: false
12/12/20006: false</pre><div class="literallayout"><p>&gt;<br>
&gt;&nbsp;Here&nbsp;is&nbsp;the&nbsp;relevant&nbsp;part&nbsp;of&nbsp;the&nbsp;template:<br>
&gt;<br>
&gt;&nbsp;&lt;xsl:when&nbsp;test="matches(DATE,'[0-1][0-2]/[0-3][0-9]/2006')"&gt;&lt;bad-date&nbsp;/&gt;&lt;/xsl:when&gt;<br>
</p></div><p>What your statement implies is: output "bad-date" node when:</p><p>1) a date month is in the range (00, 01, 02, 10, 11, 12)</p><p>
2) a date day is in the range (00, 01,... 09, 10, 11,.... 19, 20, 21,
.... 29, 30, 31, ... 39</p><p>
3) the year is 2006.</p><p>
Well, I don't know much of your calendar system, but I can hardly
believe you consider a date as "00/39/2006" as being correct, so here's
a part of your problem. I know from my own experience that regexing
numeric values is a tricky business (and is: think strings, not numbers).</p><p>For an article I wanted to write for a long time, but still haven't, I
created a template that helps in regexing numeric values. It will simply
output the right regexes for you, if you give it a number:</p><p>my:regex-from-number('376', 0)
will give:</p><pre class="programlisting">[0-2]\d{2}|
3[0-6]\d|
37[0-5]|
376|\d{2}</pre><p>
it requires some getting used to, but I recall that Jeffrey Friedl named
this: enrolling the number, or something similar. For small numbers you
can easily do it by hand, but it is still hard for many mere mortals. It
is optimized for repeated digits (like 2006). The output regex works
perfect.  A few notes (if you plan to use it):</p><pre class="programlisting">|\d{2}</pre><p>
Leave out this part if you require a fixed number of digits. I.e.: 034
and 009. By default, 34, 9 etc are allowed.</p><pre class="programlisting">376</pre><p>
The input number. Repeating the number is not necessary for making a
bullet proof regular expression, but it made me feel good. The larger
the maximum number you need to match, the easier it gets putting it
there: you see instantly what number is being matched.</p><p>
The rest speaks for itself, I believe. But call in anytime if you want
some additional help. The expressions in the opening are taken from this
template to ensure I did the right thing, however, I made them a bit
more readable.</p><pre class="programlisting">
&lt;xsl:function name="my:regex-from-number"&gt;
   &lt;xsl:param name="number" /&gt;
   &lt;xsl:param name="pos" /&gt;
   &lt;xsl:variable name="digit1" select="substring($number, $pos, 1)" /&gt;
   &lt;xsl:variable name="digit2" select="substring($number, $pos + 1, 1)" /&gt;
   &lt;xsl:variable name="len" select="string-length($number)" /&gt;

   &lt;xsl:value-of select="
       if($len = $pos)
           then concat
               (
                   $digit1,
                   '|\d',

                   if($pos - 1 le 1) then ''
                   else concat('{', $pos - 1, '}')
               )

       else
           if ($digit2 = '0')
           then concat
               (
                   $digit1,
                   my:regex-from-number($number, $pos + 1)
               )

           else concat
               (
                   $digit1,

                   if(xs:integer($digit2) - 1 = 0) then '0'
                   else concat('[0-', xs:integer($digit2) - 1, ']'),

                   if($pos + 1 = $len) then '|'
                   else
                       if($len - $pos - 1 = 1) then '\d|'
                       else concat('\d{', $len - $pos - 1, '}|'),

                   '&amp;#xA;', substring($number, 1, $pos),

                   my:regex-from-number($number, $pos + 1)
               )" /&gt;
&lt;/xsl:function&gt;
</pre></td></tr>
    
      <tr class="question"><td align="left" valign="top"><a name="d104386e355"></a><a name="d104386e357"></a><p><b>13.</b></p></td><td align="left" valign="top"><p>Regex </p></td></tr>
      <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p class="author">Abel Braaksma</p><p>
A good thing to know about regexes is that, besides being powerful, they
can be very dangerous too, esp. to the unaware, when backtracking causes
the regex to run with exponential times for non-matching strings. An
example of such a regex is in this post:
	  <a class="ulink" href="http://www.nabble.com/Certain-non-zero-length-non-matching-regexes-run-forever-on-Saxon-tf3065127.html#a8524868" target="_top">nabble.com</a></p><p>If you are going to use regexes in a production environment make sure to
test them thoroughly for this behavior or your processor may hang
occasionally.</p><pre class="programlisting">
&gt; Is there any way I can split this RegEx on separate lines and/or add
&gt; whitespace so that it would be more readable?</pre><p>
You already heard of the 'x' modifier, but there are a few things that
you should know before splitting your regex into a more readable format:</p><p>If you use Saxon, several bugs concerning whitespace handling have
been fixed in the 8.8 and 8.9 release, some of which you may consider
significant, like this one, which is now fixed:
	  <a class="ulink" href="http://www.nabble.com/Bug%3A-whitespace-at-beginning-of-regex-fails-the-regex-when-in-%27x%27-%28ignore-whitespace%29-mode-tf2870226.html#a8022584" target="_top">nabble.com</a></p><p>The "ignore whitespace" is very literally so. I.e., in XSLT regexes,
this:  fn:matches("hello world", "hello\ sworld", "x") returns true. The
"\ s" part in the regex is, with whitespace removed, "\s" and matches a
space. Most regex engines (Perl for one) consider an escaped space as a
space.</p><p> The only place where you must be aware of whitespace with 'x' on i
inside classes, where it is not ignored: [abc ] matches 'a', 'b', 'c' or
' '.</p><p>You probably don't want to do this, but this is allowed with the
'x' modifier: "\p{ I s B a s i c L a t i n }+" and is the same as
"\p{IsBasicLatin}+".</p><p>And a tip for making your regexes more readable: introduce comments
inside your regexes. In other regex languages you can do that inside the
regex language, but not with a regex in XSLT. You can easily fix this by
putting your regexes inside a variable and always calling them with the
'x' modifier:</p><pre class="programlisting">&lt;xsl:variable name="myregex" as="xs:string"&gt;
    (          &lt;!-- grab everything --&gt;
    "          &lt;!-- start of a q. string --&gt;
    [^"]*      &lt;!-- zero or more non-quotes --&gt;
    "          &lt;!-- end of a q. string --&gt;
    )          &lt;!-- closing 'grab all' --&gt;
&lt;/xsl:variable&gt;</pre><p>I use this method to some extend in a format that allows recursive and
repetitive regexes on input by just supplying a 'parser' written in XSLT
with a set of regexes placed in XML that are then applied to the input.
If you have many regexes, you will find that it is easier to maintain
them by working on some library and reuse.</p></td></tr>
    </tbody></table></div><div class="navfoot"><hr><table width="100%" border="0" summary="Footer navigation"><tr><td width="33%" align="left"><span class="footdate"></span></td><td width="34%" align="center"><span class="foothome"><a href="../../index.html">Home</a></span></td><td width="33%" align="right"><span class="footfeed"><a href="https://gitlab.com/barefootliam/dpxslfaq/-/issues">Feedback</a></span></td></tr><tr><td colspan="3" align="right"><span class="footcopy"><span class="copyright">Copyright © 1999-2012 Dave Pawson;
    Used at <a class="ulink" href="https://www.xml.com/" target="_top">xml.com</a> by permission.
    Source on <a class="ulink" href="https://gitlab.com/barefootliam/dpxslfaq/" target="_top">gitlab.com</a>. </span></span></td></tr></table></div></div></body></html>