
html{ 
font-family: Overlock, cursive;
 }

body{ 
font-family: Dosis;
 }

H1, H2, H3, H4 { 
font-family: Overlock;
margin-top: 1em; 
margin-bottom: 1em }

H5, H6 { margin-top: 1em }
H1 { text-align: center }
H1, H2, H4, H6 { font-weight: bold }

B, STRONG { font-weight: bolder }  /* relative to the parent */

I, CITE, EM, VAR, ADDRESS, BLOCKQUOTE { font-style: italic }
PRE, TT, CODE, KBD, SAMP { font-family: Dosis; }

PRE { 
font-family:sans-serif; 
white-space: pre }

ADDRESS { margin-left: 3em }
BLOCKQUOTE { margin-left: 3em; margin-right: 3em }

A:link { color: blue }          /* unvisited link */
A:visited { color: red }        /* visited links */
A:active { color: lime }        /* active links */

dt {color: lightgrey;
background: rgb(192,192,192); 
margin: 2ex;
padding-top: 0.5ex;
padding-bottom: 0.75ex;
padding-left: 1ex;
text-align: left;
white-space: nowrap;
width: 60%
}

div.literallayout{ 
font-family: 'Dosis';
 }

pre.programlisting{ 
font-family: 'Dosis';
 }


.question { color: rgb(0,0,0);
background: rgb(192,192,192); 
border-style: solid; 
border-color: rgb(255,0,0);
padding-top: 0.5ex;
padding-bottom: 0.75ex;
padding-left: 1ex;
text-align: center;
white-space: no-wrap;
width: 60%
} 

.warning {
border-style:solid;
border-color:red;
padding:0.5ex;
text-align:center;
}

div.mediaobject{
	display: block;

}
div.section{
	border-top: thin solid Black;
	padding-top: 3px;
}


p.ann {
background-color: #80C9FF;
border: thin red dotted;



}


/*width: 60%*/

/*
     FILE ARCHIVED ON 20:28:10 Oct 20, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:33:36 May 06, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 304.461
  LoadShardBlock: 269.236 (3)
  PetaboxLoader3.datanode: 338.312 (5)
  RedisCDXSource: 18.893
  exclusion.robots.policy: 0.201
  PetaboxLoader3.resolve: 157.946 (2)
  CDXLines.iter: 12.524 (3)
  exclusion.robots: 0.216
  esindex: 0.016
  load_resource: 257.787
*/
